/*
CSS file:
Author: Evan Kuczynski
Date of file creation: 9/4/24
Description: Set the CSS for the 3 web pages.
*/

/*
Sets the font size, distance from the bottom, and line height for list items */
.styled-list li {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1.5;
}

/*
Centers the content and arranges the body elements in a vertical column */
body, section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


/*
Sets the width, centers the table, and removes space between table cells */
table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

/*
Adds border, padding, and centers text in table cells */
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/*
Centers the contents of the image container */
.image-container {
    text-align: center;
}

/*
Centers the image, sets its width, maintains aspect ratio, and rounds corners */
.styled-image {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    border-radius: 15px;
}

/*
Sets the font size, color, and distance from the next text or image for h6 tag */
h6 {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
}

/*
Sets the text width and centers it for paragraphs*/
p {
    text-align: center;
    max-width: 1000px
}

